.contentWrapper{
    display: grid;
    grid-template-columns: 1fr .8fr;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .contentWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }    
}